
*{
  margin:0px;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  cursor:default;
}

.header{
  background-color: brown;
  padding:30px;
  display: flex;
  justify-content: space-between;
  color:white;
  position: sticky; 
  top:0;
}

.header a {
  color:white;
  text-decoration: none;
  padding: 0 20px 0 20px;
}

.introcontent{
  color:black;
}
.directories{
  display:flex;
  justify-content: space-around;
}
.directories a{
  color: white;
  text-decoration: none;
}

.intro{
  background-color: red;
  height:960px;

}
.introcontent p{
  font-size:100px;
  
}

.projectintro{
  background-color:green;
  height:1010px;

}

.skillsintro{
  background-color:pink;
  height:1070px;

}

.contactintro{
  background-color:white;
  height:1070px;

}

button{
  padding:20px 60px ;
  color:white;
  border: 1px solid white;
  background-color: transparent;
  font-size: 20px;
  border-radius: 7px;
}

button:hover{
  cursor:pointer;
}

a:hover{
  cursor:pointer;
}